body {
  font-family: 'Lato', serif;
  position: relative;
  min-height: 100vh;
}

.mobile {
  display: none;
  padding: 10px;
  text-align: center;
  background-color: yellow;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  margin: 20px 0 10px;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

.byline {
  font-size: 10px;
}

hr {
  border: solid 0.5px #999;
}

.content-1 {
  margin-top: 0px;
}

.content-2 {
  margin-top: 0px;
}

text {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

a {
  color: #666;
}

.hide {
  display: none;
}

.hide-to-start {
  display: none;
}

.center {
  text-align: center;
}

.center a {
  text-decoration: none;
  color: #222;
  height: 30px;
}

#filters {
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  background: white;
  border-radius: 3px;
}

#filters button {
  display: none;
  background-color: white;
  border: #eee;
  color: #333;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

#filters button.active {
  background: orange;
}

#filters * {
  font-weight: 300;
  font-size: 10px;
  font-family: sans-serif;
}

.flex-parent {
  display: flex;
  padding: 10px 20px;
  /* max-width: 1346px; */
  margin: 0 auto;
}

.col-1 {
  flex: 40%;
  padding-left: 50px;
  padding-top: 30px;
}

.col-2 {
  flex: 60%;
}

/* #second-what-do-you-remember {
  display: none;
} */

.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5em;
}

.grid-col {
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
}

#svg-container {
  position: relative;
  width: 100%;
  /* max-width: 750px; */
  height: 95vh;
  margin: 0 auto;
}

.event-desc {
  position: absolute;
  /* padding: 10px 10px 10px 0; */
  line-height: 1.25;
  text-align: center;
}

.event-desc .date {
  color: orange;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.event-desc .name {
  margin: 10px 10px;
  font-size: 22px;
  /* font-weight: 100; */
  line-height: 1.25;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.event-desc .desc {
  font-size: 12px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  color: #666;
}

.event-desc a {
  color: #666;
  text-decoration: none;
  font-size: 8px;
}

 .prev, .next {
  position: absolute;
  cursor: pointer;
  user-select: none;
  color: #ccc;
  font-size: 50px;
}

.event-desc .btn {
  margin: 10px 0;
}

.event-desc .btn a {
  background: #111;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
}

.event-desc .btn a:hover {
  background: #222;
}

.event-desc .btn a img {
  width: 11px;
  padding-right: 5px;
}

svg.filters-active line {
  opacity: 0.4;
  pointer-events: none;
}

svg line.filter-active {
  stroke: orange;
  opacity: 1;
  pointer-events: all;
}

svg line.active {
  stroke-dasharray: 4;
  stroke: orange;
  opacity: 1;
}

.callout {
  position: absolute;
  width: 100px;
  text-align: center;
  display: none;
}

.callout p {
  font-size: 8px;
  font-style: italic;
}

#callout-2016 {
  line-height: 1.5;
}

.grid-float.top-events .grid-col {
  padding: 0px;
  box-sizing: border-box;
  font-size: 10px;
  width: 25%;
  float: left;
  height: 125px;
}

.grid-float.top-events .grid-col img {
  clip-path: circle(35% at center);
  height: 70px;
}

.submit {
  margin-top: 50px;
  padding-top:80px;
  text-align: center;
}

.footer {
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 0; */
  width: 100%;
  text-align: center;
  font-size: 10px;
  /* text-align: right; */
  margin: 100px 0px 30px;
  font-family: 'Lato', sans-serif;
}

.footer a {
  color: #333;
  text-decoration: none;
}

@media only screen and (max-width: 1400px) {
  .event-desc .name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .mobile {
    display: block;
  }

  .grid-text {
    grid-template-columns: 1fr;
  }

  .flex-parent {
    display: block;
  }

  .col-1 {
    flex: 100%;
    padding-left: 0px;
    padding-top: 0px;
  }

  .col-2 {
    width: 100%;
    display: block;
    margin-top: 150px;
  }

  #svg-container {
    height: 95vw;
  }

  h1 {
    font-size: 24px;
    /* padding-bottom: 10px;
    border-bottom: solid 1px #eee; */
  }

  .grid-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .name {
    background-color: rgba(255,255,255,0.75);
  }

  #filters {
    display: block;
    width: 100%;
    margin-top: 50px;
  }

  #filters button {
    display: inline;
  }

  .container {
    width: 100%;
    text-align: center;
  }

  .col-full {
    max-width: 95vw;
    max-height: 95vh;
    margin: 0 auto;
  }

  .event-desc .date, .event-desc .name {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
  }

  .callout {
    display: none;
  }

  .event-desc .desc {
    display: none;
  }

  .event-desc .remember {
    margin-top: -50px;
  }

  line {
    pointer-events: all;
  }

  .content-1 {
    margin-bottom: 0px;
  }

  .content-2 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .prev, .next {
    font-size: 35px;
  }

  .submit {
    padding-top: 20px;
  }
}